<div class="row">
  <div class="col s12">
    <select class="input-field" ng-model="categorieSelected" ng-change="selectSemana(categorieSelected)">
      <option value="" disabled selected>-- SELECT SEMANA --</option>
      <option value="0">SEMANA 28/11 - 04/12</option>
      <option value="1">SEMANA 05/12 - 11/12</option>
      <option value="2">SEMANA 12/12 - 18/12</option>
      <option value="3">SEMANA 19/12 - 25/12</option>
      <option value="4">SEMANA 26/12 - 01/01</option>
    </select>
  </div>
</div>

<h2 class="info" ng-show="loading">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</h2>

<div ng-repeat="dia in semana.segunda | orderBy: 'horario'">
  <div class="thumbnail">
    <h3 class="text-center center">{{dia.name}}</h3>
    <div class="caption">
      <p>{{dia.telefones}}</p>
      <p>{{advert.servicos| limitTo: 50}}...</p>
      <hr />
      <small>{{dia.horario}}</small>
      </div>
  </div>

</div>
