<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Calendario <small>eventos do calendario</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <a href="#CalenderModalNew" data-toggle="modal" class="btn btn-default">Cadastrar evento</a>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sabado</th>
            <th>Domingo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td name="segunda">
              <table>
                <tr ng-repeat="event in eventos[0].segunda | orderBy: 'horario'" class="x_panel tile-stats" data-target="#EventModalDetails" data-toggle="modal">
                  <td style="width: 100%; display: block; text-align: center;">
                    <div><b>{{event.horario}}</b></div>
                    <table style="width: 100%; display: block; text-align: center;">
                      <tbody style="width: 100%; display: block; text-align: center;">
                        <tr style="width: 100%; display: block; text-align: center;">
                          <td style="width: 100%; display: block; text-align: center;">
                            {{event.nome}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td name="terca">
              <table>
                <tr ng-repeat="event in eventos[0].terca | orderBy: 'horario'" class="x_panel tile-stats" data-target="#EventModalDetails" data-toggle="modal">
                  <td style="width: 100%; display: block; text-align: center;">
                    <div><b>{{event.horario}}</b></div>
                    <table style="width: 100%; display: block; text-align: center;">
                      <tbody style="width: 100%; display: block; text-align: center;">
                        <tr style="width: 100%; display: block; text-align: center;">
                          <td style="width: 100%; display: block; text-align: center;">
                            {{event.nome}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td name="quarta">
              <table>
                <tr ng-repeat="event in eventos[0].quarta | orderBy: 'horario'" class="x_panel tile-stats" data-target="#EventModalDetails" data-toggle="modal">
                  <td style="width: 100%; display: block; text-align: center;">
                    <div><b>{{event.horario}}</b></div>
                    <table style="width: 100%; display: block; text-align: center;">
                      <tbody style="width: 100%; display: block; text-align: center;">
                        <tr style="width: 100%; display: block; text-align: center;">
                          <td style="width: 100%; display: block; text-align: center;">
                            {{event.nome}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td name="quinta">
              <table>
                <tr ng-repeat="event in eventos[0].quinta | orderBy: 'horario'" class="x_panel tile-stats" data-target="#EventModalDetails" data-toggle="modal">
                  <td style="width: 100%; display: block; text-align: center;">
                    <div><b>{{event.horario}}</b></div>
                    <table style="width: 100%; display: block; text-align: center;">
                      <tbody style="width: 100%; display: block; text-align: center;">
                        <tr style="width: 100%; display: block; text-align: center;">
                          <td style="width: 100%; display: block; text-align: center;">
                            {{event.nome}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td name="sexta">
              <table>
                <tr ng-repeat="event in eventos[0].sexta | orderBy: 'horario'" class="x_panel tile-stats" data-target="#EventModalDetails" data-toggle="modal">
                  <td style="width: 100%; display: block; text-align: center;">
                    <div><b>{{event.horario}}</b></div>
                    <table style="width: 100%; display: block; text-align: center;">
                      <tbody style="width: 100%; display: block; text-align: center;">
                        <tr style="width: 100%; display: block; text-align: center;">
                          <td style="width: 100%; display: block; text-align: center;">
                            {{event.nome}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td name="sabado">
              <table>
                <tr ng-repeat="event in eventos[0].sabado | orderBy: 'horario'" class="x_panel tile-stats" data-target="#EventModalDetails" data-toggle="modal">
                  <td style="width: 100%; display: block; text-align: center;">
                    <div><b>{{event.horario}}</b></div>
                    <table style="width: 100%; display: block; text-align: center;">
                      <tbody style="width: 100%; display: block; text-align: center;">
                        <tr style="width: 100%; display: block; text-align: center;">
                          <td style="width: 100%; display: block; text-align: center;">
                            {{event.nome}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td name="domingo">
              <table>
                <tr ng-repeat="event in eventos[0].domingo | orderBy: 'horario'" class="x_panel tile-stats" data-target="#EventModalDetails" data-toggle="modal">
                  <td style="width: 100%; display: block; text-align: center;">
                    <div><b>{{event.horario}}</b></div>
                    <table style="width: 100%; display: block; text-align: center;">
                      <tbody style="width: 100%; display: block; text-align: center;">
                        <tr style="width: 100%; display: block; text-align: center;">
                          <td style="width: 100%; display: block; text-align: center;">
                            {{event.nome}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>

          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- calendar modal -->
<div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Novo evento</h4>
      </div>
      <div class="modal-body">
        <div id="testmodal" style="padding: 5px 20px;">
          <form id="antoform" class="form-horizontal calender" role="form">
            <div class="form-group">
              <label class="col-sm-3 control-label">Nome</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="title" name="title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Telefones</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="title" name="title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Dia</label>
              <div class="col-sm-3">
                <select name="" id="" class="form-control">
                  <option value="">Segunda</option>
                  <option value="">Terça</option>
                  <option value="">Quarta</option>
                  <option value="">Quinta</option>
                  <option value="">Sexta</option>
                  <option value="">Sabado</option>
                  <option value="">Domingo</option>
                </select>
              </div>

              <label class="col-sm-3 control-label">Horário</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="title" name="title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Serviço</label>
              <div class="col-sm-7">
                <select name="" id="" class="form-control">
                  <option value="">Relaxamento</option>
                  <option value="">Corte</option>
                  <option value="">Alisamento</option>
                </select>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-default">Add</button>
              </div>

              <div class="col-sm-12">
                <div class="x_panel">
                  <div class="x_content">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Relaxamento</td>
                          <td><a href="#" class="btn btn-danger">X</a></td>
                        </tr>
                        <tr>
                          <td>Corte</td>
                          <td><a href="#" class="btn btn-danger">X</a></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary antosubmit">Salvar</button>
      </div>
    </div>
  </div>
</div>





<!-- calendar modal -->
<div id="EventModalDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Editar evento</h4>
      </div>
      <div class="modal-body">
        <div id="testmodal" style="padding: 5px 20px;">
          <form id="antoform" class="form-horizontal calender" role="form">
            <div class="form-group">
              <label class="col-sm-3 control-label">Nome</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="title" name="title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Telefones</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="title" name="title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Dia</label>
              <div class="col-sm-3">
                <select name="" id="" class="form-control">
                  <option value="">Segunda</option>
                  <option value="">Terça</option>
                  <option value="">Quarta</option>
                  <option value="">Quinta</option>
                  <option value="">Sexta</option>
                  <option value="">Sabado</option>
                  <option value="">Domingo</option>
                </select>
              </div>

              <label class="col-sm-3 control-label">Horário</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="title" name="title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Serviço</label>
              <div class="col-sm-7">
                <select name="" id="" class="form-control">
                  <option value="">Relaxamento</option>
                  <option value="">Corte</option>
                  <option value="">Alisamento</option>
                </select>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-default">Add</button>
              </div>

              <div class="col-sm-12">
                <div class="x_panel">
                  <div class="x_content">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td>Relaxamento</td>
                          <td><a href="#" class="btn btn-danger">X</a></td>
                        </tr>
                        <tr>
                          <td>Corte</td>
                          <td><a href="#" class="btn btn-danger">X</a></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary antoclose" data-dismiss="modal">Salvar</button>
        <button type="button" class="btn btn-danger antoclose" data-dismiss="modal">Excluir</button>
      </div>
    </div>
  </div>
</div>
