<div class="row">
  <div ng-include="'partials/top-navigation.html'"></div>
</div>

<div class="container">
  <h4 class="center">Buscar agendados</h4>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col s3">
      <h5 class="">Semana:</h5>
    </div>
    <div class="col s5">
      <select ng-model="semanaSelected" ng-change="selectSemana(semanaSelected)">
        <option value="" disabled selected>-- SELECIONE A SEMANA --</option>
        <option value="0">SEMANA 12/12 - 18/12</option>
        <option value="1">SEMANA 19/12 - 25/12</option>
        <option value="2">SEMANA 26/12 - 01/01</option>
      </select>
    </div>

    <div class="col s1" ng-show="semanaSelected">
      <a ui-sref="weeksNew({user: user, week: semanaSelected})" class="waves-effect waves-light btn">Cadastrar!</a>
    </div>
  </div>

  <div class="row" ng-show="semanaSelected">
    <div class="col s3">
      <h5 class="">Dia:</h5>
    </div>
    {{semanaSelected}}
    {{datas[0].dias[0]}}
    <div class="input-field col s9">
      <select ng-model="diaSelected" ng-change="selectDia(diaSelected)">
        <option value="" disabled selected>-- SELECIONE O DIA --</option>
        <option value="segunda">Segunda({{datas[semanaSelected][dias][0]}}) - [{{semana['segunda'].length}} agendado]</option>
        <option value="terca">Terça - [{{semana['terca'].length}} agendado]</option>
        <option value="quarta">Quarta - [{{semana['quarta'].length}} agendado]</option>
        <option value="quinta">Quinta - [{{semana['quinta'].length}} agendado]</option>
        <option value="sexta">Sexta - [{{semana['sexta'].length}} agendado]</option>
        <option value="sabado">Sábado - [{{semana['sabado'].length}} agendado]</option>
        <option value="domingo">Domingo - [{{semana['domingo'].length}} agendado]</option>
      </select>
    </div>
  </div>

  <div class="row">
    <h2 class="info" ng-show="loading">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </h2>
  </div>

  <div class="row">

    <p class="text-info info center gray" ng-hide="semana[diaSelected].length">Não encontramos agendamentos :(</p>

    <p class="text-info info">Encontramos {{semana[diaSelected].length}} agendamento.</p>

    <div ng-repeat="dia in semana[diaSelected] | orderBy: 'horario'">

      <div class="col s6 m4 l3">
        <div class="card blue-grey darken-1">
          <div clas s="card-content white-text">
            <p class="text-center center yellow-text text-darken-2"><i class="material-icons">av_timer</i> {{dia.horario}}</p>
            <h6><i class="material-icons">verified_user</i> {{dia.nome}}</h6>
            <p><i class="material-icons">perm_phone_msg</i> {{dia.telefones}}</p>
            <p><i class="material-icons dp48">message</i> {{dia.servicos}}</p>
          </div>
          <div class="card-action">
            <button type="button" class="waves-effect waves-light btn red btn-block" ng-click="remove(dia._id ,diaSelected, semanaSelected)">Excluir</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="row">
  <div ng-include="'partials/footer.html'"></div>
</div>
